@import './../../vendor/_varibles.scss';

.cart {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 90px 0 0;
  background-color: $background-white;
}

.products {
  display: flex;
  flex-direction: column;
  border-right: $border-main;
  padding: 50px 125px 80px 165px;

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 915px;
    padding: 60px 0 30px;
  }

  &__total {
    border-top: $border-main;
    padding-top: 30px;
  }

  &__totalTitle {
    @include text(
      $font-medium-24,
      $weight-600,
      $line-height-medium-24,
      $color-gray-text
    );
  }

  &__totalContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__count {
    @include text(
      $font-medium-24,
      $weight-300,
      $line-height-medium-24,
      $color-gray-text
    );
  }

  &__sum {
    @include text($font-h2-36, $weight-600, $line-height-h2, $color-gray-text);
  }
}

/* стили меньше 1024px */
@media screen and (max-width: 1023px) {
}

/* стили меньше 480px */
@media screen and (max-width: 480px) {
  .cart {
    flex-direction: column;
    padding: 114px 15px 50px;
    background-color: inherit;
  }
  .products {
    border-radius: 20px;
    border-right: none;
    padding: 25px 20px;
    box-shadow: $box-shadow-main;
    background-color: $background-white;
    &__list {
      row-gap: 20px;
      width: 100%;
      margin-top: 50px;
      padding: 0;
    }
    &__total {
      padding-top: 50px;
    }
    &__totalTitle {
      @include text(
        $mobile-font-32,
        $weight-500,
        $mobile-lh-32,
        $color-gray-text
      );
    }
    &__totalContainer {
      margin-top: 30px;
    }
    &__count {
      @include text(
        $mobile-font-14,
        $weight-300,
        $mobile-lh-small-14,
        $color-gray-text
      );
    }
    &__sum {
      margin-bottom: 20px;
      @include text(
        $mobile-font-24,
        $weight-500,
        $mobile-lh-24,
        $color-gray-text
      );
    }

    &__containerFixedButtonMobile {
      z-index: 1;
      position: fixed;
      bottom: 0;
      left: 50%;
      display: flex;
      width: 100%;
      max-height: 70px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      padding: 15px 48px;
      transform: translateX(-50%);
      @include shadowBackground($background-white, $box-shadow-category);
      &_hidden {
        visibility: hidden;
        opacity: 0;
      }
    }
    &__fixedButtonMobile {
      z-index: 9;
      width: 100%;
      min-height: 40px;
      border: none;
      border-radius: 10px;
      text-align: center;
      background-color: $background-color-button-default;
      cursor: pointer;
      @include text(
        $mobile-font-14,
        $weight-500,
        $line-height-small-14,
        $color-button-text
      );
      &:hover {
        background-color: $background-color-button-hover;
      }
      &:active {
        background-color: $background-color-button-pressed;
      }
      &_link {
        @include text(
          $mobile-font-14,
          $weight-500,
          $line-height-small-14,
          $color-button-text
        );
      }
    }

    &__containerFix {
      width: fit-content;
      margin-right: 30px;
      &_count {
        width: fit-content;
        text-wrap: nowrap;
        @include text(14px, $weight-400, 21px, #35383b);
      }
      &_price {
        text-align: center;
        @include text(18px, $weight-500, 22.5px, #35383b);
      }
    }

    &__textMobile {
      text-align: center;
      @include text(10px, $weight-400, 12.5px, $color-blue-dark-title);
    }
    &__buttonMobile {
      z-index: 999;
      width: 100%;
      min-height: 40px;
      margin: 10px 0 0;
      border: none;
      border-radius: 10px;
      padding: 15px 30px;
      padding: 11px 15px;
      text-align: center;
      background-color: $background-color-button-default;
      cursor: pointer;
      @include text(
        $mobile-font-14,
        $weight-500,
        $line-height-small-14,
        $color-button-text
      );
      &:hover {
        background-color: $background-color-button-hover;
      }
      &:active {
        background-color: $background-color-button-pressed;
      }
    }
  }
}
