@import './../../vendor/_varibles';

.rating {
  display: flex;
  padding: 0;
  margin-top: 40px;
  width: 100%;

  &__title {
    text-align: start;
    @include text($font-h2-36, $weight-600, $line-height-h2, $color-gray-text);
  }
}

.left {
  margin: 0;
  margin-right: 30px;
  padding: 0;
  text-align: center;
}

.averageRating {
  @include text($font-h1-60, $weight-600, $line-height-h1, $color-gray-text);
}

.stars {
  margin-top: 10px;
  display: flex;
}

.star {
  font-size: 32px;
  color: #345474;
  cursor: pointer;
  margin-right: 5px;
}
.star:last-child {
  margin-right: 0;
}

.star-5:hover ~ .star-5,
.star-4:hover ~ .star-4,
.star-3:hover ~ .star-3,
.star-2:hover ~ .star-2,
.star-1:hover ~ .star-1 {
  color: #ccc;
}

.right {
  display: flex;
  flex-direction: column;
}

.ratingsCount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  column-gap: 10px;
}

.ratingBar {
  width: 450px;
  height: 20px;
  background-color: #d3e2f7;
  border-radius: 5px;
}

.ratingBarInner {
  height: 100%;
  background-color: $background-color-button-default;
  border-radius: 5px;
  width: 0;
  transition: width 0.5s;
}

.countOfReviews {
  @include text(
    $font-footer-18,
    $weight-300,
    $line-height-footer-18,
    $color-gray-text
  );
}

/* стили меньше 1024px */
@media screen and (max-width: 1023px) {
}

/* стили меньше 480px */
@media screen and (max-width: 480px) {
  .rating {
    margin-top: 0;
    &__title {
      display: none;
    }
    &__readReviews {
      height: 40px;
      padding: 11px 14px;
      background-color: inherit;
      margin-left: auto;
      border: none;
      @include text(
        $mobile-font-14,
        $weight-500,
        $line-height-small-14,
        $color-blue-text
      );
    }
  }
  .left {
    flex: 1;
    margin: 0;
    display: flex;
    align-items: center;
  }
  .averageRating {
    margin-right: 5px;
    @include text(
      $mobile-font-24,
      $weight-500,
      $mobile-lh-24,
      $color-gray-text
    );
  }
  .stars {
    margin-top: 0;
    display: flex;
  }
  .star {
    font-size: 21px;
    color: $color-gray-text;
    margin-right: 3px;
  }
  .right {
    display: none;
  }
  .countOfReviews {
    display: none;
  }
}
