@import './../../vendor/_varibles';

.reviewCard {
  max-width: 1050px;
  width: 100%;
  min-height: 490px;
  border-radius: 20px;
  @include shadowBackground($background-white, $box-shadow-main);
  margin-top: 40px;
  margin-bottom: 30px;

  &__headerSection {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin: 0 60px 30px 60px;
  }

  &__userImg {
    margin-top: 30px;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    object-fit: cover;
  }

  &__nameSectionS {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  &__nameSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 40px;
  }

  &__userName {
    @include text(
      $font-medium-24,
      $weight-300,
      $line-height-medium-24,
      $color-gray-text
    );
  }

  &__userDate {
    @include text(
      $font-footer-18,
      $weight-300,
      $line-height-footer-18,
      $color-gray-text
    );
  }

  &__stars {
    margin-top: 30px;
    display: flex;
  }

  &__reviewText {
    margin: 0 60px 0 140px;
    @include text(
      $font-medium-24,
      $weight-300,
      $line-height-medium-24,
      $color-gray-text
    );
  }

  &__likeFeedbackSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 80%;
    margin: 20px 60px 10px 160px;
    min-height: 40px;
    column-gap: 10px;
  }

  &__likeButton {
    width: 69px;
    height: 40px;
    background-color: #d3e2f7;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
  }

  &__feedbackButton {
    width: 69px;
    height: 40px;
    background-color: #d3e2f7;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
  }

  &__iconContainer {
  }

  &__likeIcon {
    color: black;
  }

  &__inputSection {
    width: 90%;
    min-height: 87px;
    display: flex;
    flex-direction: row;
    margin: 30px 60px 40px 60px;
    border-top: 1px solid #d3e2f7;
    column-gap: 5px;
  }

  &__containerimg {
    display: flex;
  }
  &__userImgSmall {
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 80px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
  }

  &__textarea {
    margin-right: 20px;
    width: 594px;
    min-height: 41px;
    background-color: #d3e2f7;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
    border-color: #84a7d5;
    resize: none;
  }

  &__textarea::placeholder {
    padding-top: 10px;
    padding-left: 15px;
    line-height: 1.5;
    color: #84a7d5;

    @include text($font-small-14, $weight-300, 21px, #84a7d5);
  }

  &__containerButton {
    display: flex;
  }
  &__addButton {
    margin-top: 50px;
    width: 40px;
    height: 40px;
    background-color: #d3e2f7;
    border: none;
    border-radius: 10px;
    color: #3b7dd6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  &__sendReviewButton {
    margin-top: 50px;
    width: 108px;
    height: 40px;
    background-color: #3b7dd6;
    border: none;
    border-radius: 10px;
    // color: #fff;
    @include text(14px, 500, 17.5px, #fff);
  }
}

/* стили меньше 1024px */
@media screen and (max-width: 1023px) {
}

/* стили меньше 480px */
@media screen and (max-width: 480px) {
  .reviewCard {
    min-height: 100%;
    margin: 30px 0 30px;
    padding: 30px 20px;

    &__headerSection {
      column-gap: 10px;
      margin: 0;
      align-items: center;
    }
    &__userImg {
      margin: 0 10px 0 0;
      width: 40px;
      height: 40px;
    }
    &__nameSection {
      margin-top: 0;
    }
    &__userName {
      margin-bottom: 5px;
      @include text(
        $mobile-font-14,
        $weight-300,
        $mobile-lh-small-14,
        $color-gray-text
      );
    }
    &__userDate {
      @include text(10px, $weight-400, 12.5px, $color-gray-text);
    }
    &__stars {
      margin-top: 8px;
    }

    &__reviewText {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5; // количество строк
      -webkit-box-orient: vertical;
      max-height: 105px;
      height: 100%;
      margin: 20px 0 0;
      @include text(
        $mobile-font-14,
        $weight-300,
        $mobile-lh-small-14,
        $color-gray-text
      );
    }

    &__likeFeedbackSection {
      width: 100%;
      margin: 20px 0;
      column-gap: 0;
    }
    &__likeButton {
      background-color: inherit;
    }
    &__feedbackButton {
      background-color: inherit;
    }

    &__inputSection {
      width: 100%;
      min-height: 91px;
      margin: 0;
      border-top: none;
      flex-direction: column;
    }

    &__containerimg {
      display: flex;
    }

    &__userImgSmall {
      margin: 0 10px 0 0;
      width: 40px;
      height: 40px;
    }

    &__textarea {
      margin-right: 0;
      min-height: 41px;
      background-color: inherit;
      border: 1px solid #84a7d5;
      margin-top: 0;
    }

    &__textarea::placeholder {
      padding-top: 10px;
      padding-left: 15px;
      line-height: 1.5;
      color: #84a7d5;
      @include text($font-small-14, $weight-300, 21px, #84a7d5);
    }

    &__containerButton {
      margin-top: 10px;
      display: flex;
      justify-content: end;
    }
    &__addButton {
      margin: 0;
      background-color: inherit;
    }

    &__sendReviewButton {
      width: 108px;
      padding: 11px 15px;
      margin: 0;
      background-color: #3b7dd6;
      @include text(14px, 500, 17.5px, #fff);
    }
  }
}
