@import '../../vendor/varibles';

.categoriesWrapper {
  position: relative;
  width: 100%;
  background-color: $background-white;
}

.categories {
  max-width: 100%;
  padding-top: 160px;

  &__carouselWrapper {
    min-width: 500px;
    max-width: 1370px;
    position: relative;
    margin: 0 auto;
  }

  &__carousel {
    position: unset;
  }
}

/* стили меньше 1024px */
@media screen and (max-width: 1023px) {
}

/* стили меньше 480px */
@media screen and (max-width: 480px) {
  .categoriesWrapper {
    padding: 0 15px;
    margin-bottom: 30px;
    border-radius: 20px;
  }
  .categories {
    display: none;
  }
}
