@import './../../vendor/_varibles.scss';

.addition {
  max-width: 1320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  &__head {
    display: grid;
    grid-template-columns: minmax(365px, 1071px) minmax(100px, 239px);
    gap: 10px;
  }

  &__title {
    width: 100%;
    margin: 0;
    padding: 0;
    @include text(
      $font-h2-36,
      $weight-600,
      $line-height-h2,
      $color-blue-dark-title
    );
  }

  &__info {
    width: 100%;
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 0;
    padding: 0;
    @include text($font-18, $weight-300, $line-height-18, $color-grey-text);
  }

  &__required {
    @include text(
      $font-small-14,
      $weight-300,
      $line-height-small-14,
      $color-red-errors
    );
  }

  &__addButton {
    grid-column-start: 2;
    grid-row-start: 1;
    width: 239px;
    height: 50px;
    padding: 0 0 0 23px;
    border-radius: 15px;
    background-color: $background-color-button-default;
    background-image: url('../../images/add-bracket-icon.png');
    background-repeat: no-repeat;
    background-position: 24px;
    background-size: 24px 24px;
    border: none;
    cursor: pointer;
    @include text(
      $font-medium-24,
      $weight-400,
      $line-height-medium-24,
      $background-color-button2-default
    );
    transition: 0.3s;

    &:hover {
      background-color: $background-color-button-hover;
    }

    &:active {
      background-color: $background-color-button-pressed;
    }

    &:disabled {
      background-color: $background-color-button2-disable;
      color: $color-white-text;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  &__submit {
    width: 239px;
    height: 50px;
    margin: 0 auto;
    border: none;
    border-radius: 15px;
    background-color: $background-color-button-default;
    cursor: pointer;
    @include text(
      $font-medium-24,
      $weight-400,
      $line-height-medium-24,
      $color-white-text
    );
    transition: 0.3s;

    &:hover {
      background-color: $background-color-button-hover;
    }

    &:active {
      background-color: $background-color-button-pressed;
    }

    &:disabled {
      background-color: $background-color-button-disable;
    }
  }
}

/* стили меньше 1024px */
@media screen and (max-width: 1023px) {
}

/* стили меньше 480px */
@media screen and (max-width: 480px) {
  .addition {
    margin-top: 30px;
    row-gap: 0;
    &__head {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
    &__title {
      display: none;
    }
    &__info {
      text-align: center;
      @include text(
        $mobile-font-14,
        $weight-300,
        $mobile-lh-small-14,
        $color-blue-dark-title
      );
    }
    &__required {
      display: none;
    }
    &__continue {
      padding-bottom: 30px;
      border-bottom: 1px solid #d3e2f7;
    }
    &__continueButton {
      margin: 20px 0 0;
      border: none;
      width: 100%;
      height: 40px;
      border-radius: 10px;
      background-color: $background-color-button-default;
      @include text(
        $mobile-font-14,
        $weight-500,
        $line-height-small-14,
        $color-button-text
      );
      &:hover {
        background-color: $background-color-button-hover;
      }
      &:active {
        background-color: $background-color-button-pressed;
      }
    }
    &__addButton {
      margin: 30px 0 25px;
      width: 100%;
      height: 40px;
      border-radius: 10px;
      background: url(../../images/images-for-mobile/buttonAddSeller/buttonAddSeller.svg)
        no-repeat;
      background-position: 20%;
      background-color: $background-button-input-category;
      @include text(
        $mobile-font-14,
        $weight-500,
        $line-height-small-14,
        $color-blue-text
      );
      &:hover {
        background-color: $background-color-button2-hover;
      }
      &:active {
        background-color: $background-color-button2-pressed;
        color: $color-white-text;
      }

      &_hidden {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
}
