@import './../../vendor/_varibles';

.botBody {
  display: flex;
  flex-direction: row;
  column-gap: 41px;
  margin: 40px 0 auto 0;
  max-width: 1141px;
  width: 100%;
  max-height: 100%;

  &__image {
    border-radius: 15px;
    margin-top: 18px;
    max-width: 202px;
    width: 100%;
    height: 202px;
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    max-width: 901px;
    width: 100%;
  }

  &__name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    @include text(
      $font-h1-60,
      $weight-600,
      $line-height-h1,
      $color-blue-dark-title
    );
  }

  &__linkLikeSection {
    display: flex;
    margin: 0 0 0 auto;
    column-gap: 10px;
  }

  &__linkButton {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-image: url(../../images/botDetails_images/Button_link.svg);
    background-color: #d3e2f7;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-style: none;
    transition: background-image 0.3s ease;
    &:hover {
      background-image: url(../../images/botDetails_images/Button_link-hover.svg);
    }
    &:active {
      background-image: url(../../images/botDetails_images/Button_link-pressed.svg);
    }
  }

  &__favoritesButton {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-image: url(../../images/botDetails_images/Button_like.svg);
    background-color: #d3e2f7;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-style: none;
    transition: background-image 0.3s ease;
    &:hover {
      background-image: url(../../images/botDetails_images/Button_like-hover.svg);
    }
    &:active {
      background-image: url(../../images/botDetails_images/Button_like-pressed.svg);
    }
  }

  &__subtitle {
    display: flex;
    align-items: flex-start;
    margin: 15px 0 20px 0;
    @include text(
      $font-medium-24,
      $weight-300,
      $line-height-medium-24,
      $color-gray-text
    );
    &_category {
      margin: 0 0 20px 0;
      padding: 5px 10px;
      display: inline-block;
      background-color: #d3e2f7;
      border-radius: 5px;
      width: fit-content;
      @include text(10px, $weight-400, 12.5px, $color-blue-text);
    }
  }

  &__description {
    max-height: 90px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    margin: 0;
    @include text(
      $font-medium-24,
      $weight-300,
      $line-height-medium-24,
      $color-gray-text
    );
  }

  &__descriptionExpanded {
    max-height: none;
    white-space: normal;
  }

  &__showMoreButton {
    margin: 15px 0 0 auto;
    border: none;
    padding-left: 20px;
    background: transparent;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 10px 7px;
    transition: background-image 0.3s ease;
    cursor: pointer;
    @include text(
      $font-small-14,
      $weight-500,
      $line-height-small-14,
      $color-blue-text
    );
    &_arrowUp {
      background-image: url(../../images/botDetails_images/arrowUp.svg);
      &:hover {
        background-image: url(../../images/botDetails_images/arrowUp-hover.svg);
      }
      &:active {
        background-image: url(../../images/botDetails_images/arrowUp-pressed.svg);
      }
    }
    &_arrowDown {
      background-image: url(../../images/botDetails_images/arrowDown.svg);
      &:hover {
        background-image: url(../../images/botDetails_images/arrowDown-hover.svg);
      }
      &:active {
        background-image: url(../../images/botDetails_images/arrowDown-pressed.svg);
      }
    }
  }
}

/* стили меньше 1024px */
@media screen and (max-width: 1023px) {
}

/* стили меньше 480px */
@media screen and (max-width: 480px) {
  .botBody {
    flex-direction: column;
    column-gap: 0;
    margin: 0;
    &__buttonSection {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__backButton {
      border: none;
      width: 40px;
      height: 40px;
      background: url(../../images/back-left-lg-min.svg) no-repeat center;
    }
    &__image {
      align-self: center;
      border-radius: 10px;
      margin: 10px 0 30px 0;
      max-width: 305px;
      width: 100%;
      height: 305px;
      object-fit: cover;
    }
    &__title {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include text(
        $mobile-font-32,
        $weight-500,
        $mobile-lh-32,
        $color-blue-dark-title
      );
    }
    &__subtitle {
      margin: 5px 0 0;
      @include text($mobile-font-16, $weight-300, $mobile-lh-small-16, #84a7d5);
    }
    &__category {
      margin-top: 20px;
      background-color: #d3e2f7;
      max-width: fit-content;
      padding: 5px 10px;
      border-radius: 5px;
      @include text(10px, $weight-300, 12.5px, #3b7dd6);
    }
    &__description {
      margin-top: 30px;
      @include text(
        $mobile-font-16,
        $weight-300,
        $mobile-lh-small-16,
        $color-gray-text
      );
    }
    &__showMoreButton {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 0 30px;
      background-position: 20%;
      padding: 10px 15px;
    }
  }
}
