@import './../../vendor/_varibles';

.reviews {
  margin: 100px auto auto 10px;
  padding: 0 180px 47px 165px;
  &__header {
    margin-bottom: 40px;
    @include text($font-h2-36, $weight-600, $line-height-h2, $color-gray-text);
  }

  &__section {
    display: flex;
    flex-direction: row;
    column-gap: 55px;
    justify-content: space-between;
    max-width: 1051px;
    margin-bottom: 40px;
  }

  &__avatar {
    margin-top: 30px;
    margin-left: 60px;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    object-fit: cover;
  }

  &__feedbackSection {
    width: 891px;
    height: 362px;
    background-color: #fff;
    border-radius: 20px;
    padding-left: 40px;
    @include shadowBackground($background-white, $box-shadow-main);
  }

  &__header_mini {
    @include text(24px, 300, 30px, $color-gray-text);
    padding-top: 40px;
    margin-bottom: 10px;
  }

  &__textarea {
    height: 156px;
    width: 811px;
    background-color: #d3e2f7;
    border-radius: 10px;
    padding-top: 10px;
    border-color: #84a7d5;
    resize: none;
  }

  &__textarea::placeholder {
    padding-top: 10px;
    padding-left: 15px;
    line-height: 1.5;
    color: #84a7d5;
  }

  &__buttonsSection {
    margin-top: 15px;
    border-top: 1px solid #d3e2f7;
    min-height: 60px;
    max-width: 811px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: flex-end;
  }

  &__addButton {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 0;
    margin-top: auto;
    background-color: #d3e2f7;
    border: none;
    color: #3b7dd6;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__sendReviewButton {
    width: 106px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 0;
    margin-top: auto;
    background-color: #3b7dd6;
    border: none;
    @include text(14px, 500, 17.5px, #fff);
  }
}

/* стили меньше 1024px */
@media screen and (max-width: 1023px) {
}

/* стили меньше 480px */
@media screen and (max-width: 480px) {
  .reviews {
    margin: 50px 0;
    padding: 0 15px;
    &__header {
      margin-bottom: 30px;
      @include text(
        $mobile-font-32,
        $weight-500,
        $mobile-font-32,
        $color-gray-text
      );
    }

    &__section {
      display: flex;
      column-gap: 0;
      justify-content: center;
      margin-bottom: 0;
    }
    &__avatar {
      margin: 0 10px 0 0;
      width: 40px;
      height: 40px;
    }

    &__feedbackSection {
      text-wrap: nowrap;
      width: 100%;
      height: 100%;
      padding: 30px 20px;
      &_title {
        margin-bottom: 30px;
        @include text(
          $mobile-font-24,
          $weight-500,
          $mobile-lh-24,
          $color-gray-text
        );
      }
      &_img {
        display: flex;
        align-items: center;
      }
    }

    &__header_mini {
      display: none;
    }

    &__textarea {
      outline: none;
      height: 41px;
      width: 100%;
      background-color: inherit;
      padding-top: 0;
      &::placeholder {
        @include text(14px, 300, 21px, #84a7d5);
        padding-left: 20px;
        line-height: 1.5;
        color: #84a7d5;
      }
    }

    &__buttonsSection {
      margin-top: 10px;
      border-top: none;
      min-height: 40px;
      column-gap: 5px;
    }

    &__addButton {
      margin: 0;
      background-color: inherit;
    }

    &__sendReviewButton {
      width: 108px;
      padding: 11px 15px;
      margin: 0;
      background-color: #3b7dd6;
    }
  }
}
