@import '../../vendor/_varibles';

.bot {
  width: 240px;
  height: 458px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  @include shadowBackground($background-input, $box-shadow-main);

  &__background {
    background-image: url('../../images/bot-alt.svg');
    background-color: #d3e2f7;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    width: 200px;
    height: 202px;
  }

  &__img {
    border-radius: 15px;
    width: 200px;
    height: 202px;
    object-fit: cover;

    &:hover {
      cursor: pointer;
    }
  }

  &__brief {
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-bottom: 0.5px solid;
    border-color: #d3e2f7;
  }

  &__name {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    @include text(
      $font-medium-24,
      $weight-400,
      $line-height-medium-24,
      $color-blue-dark-title
    );
  }

  &__author {
    margin-bottom: 15px;
    @include text($font-small-14, $weight-300, $line-height-small-14, #84a7d5);
  }

  &__categories {
    height: 22.5px;
    display: flex;
    gap: 5px;
  }

  &__category {
    max-width: 161px;
    margin: 0;
    padding: 5px 10px;
    display: inline-block;
    background-color: #d3e2f7;
    border-radius: 5px;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    @include text(10px, $weight-400, 12.5px, $color-blue-text);
  }

  &__discountContainer {
    display: flex;
    align-items: center;
  }
  &__finalPrice {
    flex: 1;
    @include text(
      $font-medium-24,
      $weight-300,
      $line-height-medium-24,
      $color-red-errors
    );
  }
  &__oldPrice {
    margin-right: 10px;
    @include text($font-small-14, $weight-300, 21px, $color-blue-dark-title);
    text-decoration: line-through;
    text-decoration-color: $color-red-errors;
  }
  &__discountSize {
    width: 48px;
    height: 31px;
    border-radius: 5px;
    padding: 5px;
    background-color: $color-red-errors;
    @include text($font-small-14, $weight-300, 21px, #fff);
  }

  &__price {
    margin: 0;
    @include text(
      $font-medium-24,
      $weight-400,
      $line-height-medium-24,
      $color-blue-dark-title
    );
  }

  &__buttons {
    display: flex;
    gap: 10px;
  }

  &__favBtn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #d3e2f7;
    background-image: url(../../images/add-to-favourites-btn.svg);
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease;
    cursor: pointer;
    &:hover {
      background-color: #acc6eb;
      background-image: url(../../images/add-to-favourites-btn-hover.svg);
    }
    &:active {
      background-color: #5a8cd2;
      background-image: url(../../images/add-to-favourites-btn-pressed.svg);
    }
  }

  &__buyBtn {
    flex: 1;
    border: none;
    border-radius: 10px;
    background-color: $background-color-button-default;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    @include text(
      $font-small-14,
      $weight-500,
      $line-height-small-14,
      $color-button-text
    );
    &:hover {
      background-color: $background-color-button-hover;
    }
    &:active {
      background-color: $background-color-button-pressed;
    }
  }
}

/* стили меньше 1024px */
@media screen and (max-width: 1023px) {
}

/* стили меньше 480px */
@media screen and (max-width: 480px) {
  .bot {
    position: relative;
    width: 143px;
    height: 300px;
    padding: 10px;
    border-radius: 10px;
    gap: 0;
    &__background {
      background-color: #f8fafc;
      border-radius: 10px;
      width: 100%;
      height: 100%;
    }
    &__linkImg {
      display: flex;
    }
    &__img {
      border-radius: 10px;
      width: 123px;
      height: 123px;
    }
    &__brief {
      margin-top: 10px;
      border: none;
      margin-bottom: 10px;
    }
    &__name {
      @include text(
        $mobile-font-14,
        $weight-500,
        $line-height-small-14,
        $color-blue-dark-title
      );
    }
    &__author {
      margin-bottom: 0;
      @include text(10px, $weight-400, 12.5px, #84a7d5);
    }
    &__categories {
      padding-bottom: 10px;
      border-bottom: 0.3px solid #d3e2f7;
    }
    &__discountContainer {
      margin-top: 5px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
    }
    &__finalPrice {
      flex: 1;
      @include text(
        $mobile-font-14,
        $weight-500,
        $line-height-small-14,
        $color-red-errors
      );
    }
    &__oldPrice {
      margin-right: 5px;
      @include text(10px, $weight-400, 12.5px, $color-blue-dark-title);
      text-decoration: line-through;
      text-decoration-color: $color-red-errors;
    }
    &__discountSize {
      width: 31px;
      height: 13px;
      border-radius: 5px;
      padding: 0 2px;
      background-color: #e44f2f;
      text-align: center;
      @include text(10px, $weight-400, 12.5px, #f8fafc);
    }
    &__price {
      margin-top: 5px;
      margin-bottom: 10px;
      @include text(
        $mobile-font-14,
        $weight-500,
        $line-height-small-14,
        $color-blue-dark-title
      );
    }
    &__buttons {
      gap: 0;
    }
    &__favBtn {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 40px;
      height: 40px;
      background-color: inherit;
      background-image: url(../../images/images-for-mobile/buttonLikeMain/buttonLike.svg);
      &:hover {
        opacity: 0.7;
        background-image: url(../../images/images-for-mobile/buttonLikeMain/buttonLike-hover.svg);
      }
      &:active {
        background-image: url(../../images/images-for-mobile/buttonLikeMain/buttonLike-pressed.svg);
      }
    }
    &__buyBtn {
      height: 40px;
    }
  }
}
