@import '../../../vendor/varibles';

.change {
  max-width: 455px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 254px 0 169px;

  &__container {
    border-radius: 20px;
    padding: 40px;
    @include shadowBackground($background-white, $box-shadow-main);
  }

  &__formButton {
    width: 100%;
    margin-top: 63px;
    border: none;
    border-radius: 15px;
    padding: 10px 24px;
    background-color: $background-color-button-default;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    cursor: pointer;
    @include text(
      $font-medium-button-24,
      $weight-400,
      $line-height-medium-24,
      $color-button-text
    );
    &:hover {
      background-color: $background-color-button-hover;
    }
    &:active {
      background-color: $background-color-button-pressed;
    }
    &_look {
      position: absolute;
      top: 37px;
      right: 20px;
      width: 20px;
      height: 20px;
      border: none;
      background: transparent center no-repeat;
      transition: background-image 0.3s ease;
      &_close {
        background-image: url(../../../images/eyes-close-password-min.svg);
        &:hover {
          background-image: url(../../../images/eyes-close-password-state-hover-min.svg);
        }
        &:active {
          background-image: url(../../../images/eyes-close-password-state-pressed-min.svg);
        }
      }
      &_open {
        background-image: url(../../../images/eyes-open-password-min.svg);
        &:hover {
          background-image: url(../../../images/eyes-open-password-state-hover-min.svg);
        }
        &:active {
          background-image: url(../../../images/eyes-open-password-state-pressed-min.svg);
        }
      }
    }
    &_disable {
      background-color: $background-color-button-disable;
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  &__buttonTitle {
    width: 24px;
    height: 24px;
    margin: 10px;
    border: none;
    background: url(../../../images/back-left-lg-min.svg) center no-repeat;
    transition: background-image 0.3s ease;
    cursor: pointer;
    &__buttonLogo:hover {
      background-image: url(../../../images/back-left-lg-hover-min.svg);
    }
    &__buttonLogo:active {
      background-image: url(../../../images/back-left-lg-pressed-min.svg);
    }
  }

  &__textTitle {
    @include text(
      $font-medium-24,
      $weight-300,
      $line-height-medium-24,
      $color-blue-dark-title
    );
  }

  &__formInput {
    width: 100%;
    margin-top: 5px;
    padding: 16px 20px;
    outline: none;
    @include text(
      $font-small-14,
      $weight-300,
      $line-height-small-14,
      $color-blue-dark-title
    );
    @include input($border-main, $background-bots-main);
    &:focus {
      @include input($border-active, $background-bots-main);
    }
    &::placeholder {
      color: $color-blue-input-text;
    }
    &_container {
      position: relative;
      margin-bottom: 33px;
      border: none;
      padding: 0;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    &_text {
      margin-left: 10px;
      @include text(
        $font-small-14,
        $weight-300,
        $line-height-small-14,
        $color-blue-dark-title
      );
    }
    &_error {
      margin: 5px 0 0 10px;
      @include text(
        $font-small-14,
        $weight-300,
        $line-height-small-14,
        $color-red-errors
      );
    }
  }

  &__cancelButton {
    min-height: 40px;
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px 18px;
    background-color: inherit;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    cursor: pointer;
    @include text(
      $font-small-14,
      $weight-400,
      $line-height-small-14,
      $background-color-button-default
    );
    &:hover {
      color: $background-color-button-hover;
    }
    &:active {
      color: $background-color-button-pressed;
    }
  }
}

/* стили меньше 1024px */
@media screen and (max-width: 1023px) {
}

/* стили меньше 480px */
@media screen and (max-width: 480px) {
  .change {
    padding: 102px 15px 50px;
    &__container {
      padding: 25px 20px;
    }
    &__formButton {
      margin-top: 43px;
      border-radius: 10px;
      padding: 11px 34px;
      @include text(
        $mobile-font-14,
        $weight-500,
        $line-height-small-14,
        $color-button-text
      );
      &_look {
        top: 35px;
      }
    }
    &__title {
      justify-content: center;
      margin-bottom: 30px;
    }
    &__buttonTitle {
      display: none;
    }
    &__textTitle {
      @include text(
        $mobile-font-18,
        $weight-500,
        $mobile-lh-18,
        $color-blue-dark-title
      );
    }
    &__formInput {
      padding: 10px 20px;
      max-height: 41px;
      @include text(
        13.5px,
        $weight-300,
        $mobile-lh-small-14,
        $color-blue-dark-title
      );
      &_text {
        @include text(
          $mobile-font-14,
          $weight-300,
          $mobile-lh-small-14,
          $color-blue-dark-title
        );
      }
      &_error {
        @include text(
          $mobile-font-14,
          $weight-300,
          $mobile-lh-small-14,
          $color-red-errors
        );
      }
    }

    &__cancelButton {
      padding: 11px 80px;
      @include text(
        $mobile-font-14,
        $weight-500,
        $line-height-small-14,
        $color-link-main
      );
    }
  }
}
