@import './../../vendor/_varibles.scss';

.success {
  max-width: 445px;
  max-height: 350px;
  border-radius: 20px;
  margin: auto 0;
  padding: 40px;
  @include shadowBackground($background-white, $box-shadow-main);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  &__img {
    width: 130px;
    height: 130px;
    margin-bottom: 20px;
  }
  &__title {
    text-wrap: nowrap;
    @include text(
      $font-medium-24,
      $weight-300,
      $line-height-medium-24,
      $color-blue-dark-title
    );
  }
  &__button {
    width: 100%;
    border: none;
    height: 50px;
    border-radius: 10px;
    padding: 11px 15px;
    background-color: $background-color-button-default;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    cursor: pointer;
    @include text(
      $font-medium-24,
      $weight-400,
      $line-height-medium-24,
      $color-button-text
    );
    &:hover {
      background-color: $background-color-button-hover;
    }
    &:active {
      background-color: $background-color-button-pressed;
    }
  }
}

/* стили меньше 1024px */
@media screen and (max-width: 1023px) {
}

/* стили меньше 480px */
@media screen and (max-width: 480px) {
  .success {
    padding: 25px 20px;
    &__img {
      margin-bottom: 40px;
    }
    &__title {
      @include text(
        $mobile-font-18,
        $weight-500,
        $mobile-lh-18,
        $color-blue-dark-title
      );
    }
    &__button {
      height: 40px;
      @include text(
        $mobile-font-14,
        $weight-500,
        $line-height-small-14,
        $color-button-text
      );
    }
    &__buttonPayment {
      height: 40px;
      background-color: $background-color-button2-default;
      @include text(
        $mobile-font-14,
        $weight-500,
        $line-height-small-14,
        $color-blue-text
      );
      &:hover {
        background-color: $background-color-button2-hover;
      }
      &:active {
        background-color: $background-color-button2-pressed;
      }
    }
  }
}
